{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS, 
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
    The layout of the admin section. All the page / template of the admin section must use this
    layout.
#}

{% extends "ChillMainBundle::layoutWithVerticalMenu.html.twig" %}


{% block css %}
    {% stylesheets  output="css/person.css" filter="cssrewrite"
        "bundles/chillperson/css/person.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block top_banner %}
    <div class="grid-12 parent" id="header-person-name" >
        <div class="grid-10 push-1 grid-mobile-12 grid-tablet-12 push-mobile-0 push-tablet-0 parent">
            <div class="grid-3">
                <span class="open_sansbold">{{ 'Last name'|trans|upper  }}&nbsp;:</span> {{ person.lastName|upper }}
            </div>
            <div class="grid-3">
                <span class="open_sansbold">{{ 'First name'|trans|upper}}&nbsp;:</span> {{  person.firstName|upper }}
            </div>
            <div class="grid-3">
                <i class="fa  fa-{% spaceless %}
                    {% if person.gender == "woman" %}
                       female
                    {%  else %}
                        male
                    {% endif %}
                {% endspaceless %}"></i>
                <i class="fa  fa-{% spaceless %}
                    {% if person.isOpen %}
                        eye
                    {% else %}
                       eye-slash
                    {% endif %}
                {% endspaceless %}"></i>
            </div> 
        </div>
    </div>

    <div class="grid-12 parent" id="header-person-details" >
        <div class="grid-10 push-1 grid-mobile-12 grid-tablet-12 push-mobile-0 push-tablet-0 parent">
            <div class="grid-3">
                <span class="open_sansbold">{{ 'Birthdate'|trans|upper  }}&nbsp;:</span>
                {% if person.birthdate == null %}
                    {{ 'Unknown date of birth'|trans }}, {{ ('person.gender.' ~ 
                        person.gender)|trans }}
                {% else %}
                    {{ person.birthdate|localizeddate('long', 'none') }}
                {% endif %}
            </div>
            <div class="grid-3">
                <span class="open_sansbold">{{ 'Nationality'|trans|upper}}&nbsp;:</span>
                {% if person.nationality is not null %}
                    {{ person.nationality.name|localize_translatable_string }}
                {% else %}
                    {% trans %}Without nationality{% endtrans %}
                {% endif %}
            </div>
            <div class="grid-3">
                <span class="open_sansbold">{{ 'Spoken languages'|trans|upper}}&nbsp;:</span>
                {% if person.spokenLanguages|length == 0 %}
                    {{ 'Unknown spoken languages'|trans }}
                {% else %}
                    {% for lang in person.spokenLanguages %}
                        {{ lang.name|localize_translatable_string }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                {% endif %}
            </div> 
        </div>
    </div>
{% endblock %}

{% block layout_wvm_content %}
    <div class="container content"> 
        {% block personcontent %}<!-- block personcontent empty -->{%endblock%}
    </div>
{% endblock %}

{% block vertical_menu_content %}
    {{ chill_menu('person', {
        'layout': 'ChillPersonBundle::menu.html.twig',
        'args' : {'person_id': person.id },
        'activeRouteKey': activeRouteKey
    }) }}
{% endblock %}