{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'chill_person_view' %}

{#
This view should receive those arguments:
- person
#}

{% block title %}ChillPersonBundle:Person:see{% endblock %}
{#
    we define variables to include an edit form repeated multiple time across
    the page
#}
{% set edit_tmp_name = 'ChillPersonBundle:Form:go_to_form.html.twig'  %}
{% set edit_tmp_args = { 'form_path_args' : { 'person_id': person.id }, 
      'form_path_key' : 'chill_person_general_edit' } %}


{% block personcontent %}

<div class="grid-10 push-1 grid-mobile-12 grid-tablet-12 push-mobile-0 push-tablet-0 parent">
    <div class="grid-6">
        <figure class="person-details">
            <h2 class="chill-red">{{ 'General information'|trans|upper }}</h2>
            
            <dl>
                <dt>{{ 'First name'|trans }}&nbsp;:</dt>
                <dd>{{ person.firstName }}</dd>
                
                <dt>{{ 'Last name'|trans }}&nbsp;:</dt>
                <dd>{{ person.lastName }}</dd>
                
                <dt>{{ 'Gender'|trans }}&nbsp;:</dt>
                <dd>{{ ( person.gender|default('Not given'))|trans }}</dd>
            </dl>


            {% if is_granted('CHILL_PERSON_UPDATE', person) %}
                {{ include(edit_tmp_name, edit_tmp_args) }}
            {% endif %}
        </figure>
    </div>

    <div class="grid-6">
        <figure class="person-details">
            <h2 class="chill-green"><i class="fa fa-birthday-cake"></i>&nbsp;{{ 'Birth information'|trans|upper }}</h2>

            <dl>
                <dt>{{ 'Date of birth'|trans }}&nbsp;:</dt>
                <dd>
                    {%- if person.birthdate is not null -%}
                    {{ person.birthdate|localizeddate('long', 'none') }}
                    {%- else -%}
                    {{ 'Unknown date of birth'|trans }}
                    {%- endif -%}
                </dd>
                
                <dt>{{ 'Place of birth'|trans }}&nbsp;:</dt>
                <dd>{{ person.placeOfBirth }}</dd>
                <dd>{% spaceless %}  
                    {% if person.countryOfBirth is not null %}
                        {{ person.countryOfBirth.name|localize_translatable_string }}
                    {% else %}
                        {{ 'Unknown country of birth'|trans }}
                    {% endif %}
                {% endspaceless %}</dd>
            </dl>

            {% if is_granted('CHILL_PERSON_UPDATE', person) %}
                {{ include(edit_tmp_name, edit_tmp_args) }}
            {% endif %}
        </figure>
    </div>
</div>

<div class="grid-10 push-1 grid-mobile-12 grid-tablet-12 push-mobile-0 push-tablet-0 parent">
    <div class="grid-6">
        <figure class="person-details">
            <h2 class="chill-orange">{{ 'Administrative information'|trans|upper }}</h2>

            <dl>
              <dt>{{ 'Nationality'|trans }}&nbsp;:</dt>
                <dd>
                    {% if person.nationality is not null %}
                        {{ person.nationality.name|localize_translatable_string }}
                    {% else %}
                        {{ 'Without nationality'|trans }}
                    {% endif %}
                </dd> 
            </dl>
            <dl>
                <dt>{{'Spoken languages'|trans}}&nbsp;:</dt>
                <dd>
                    {% if person.spokenLanguages|length == 0 %}
                        {{ 'Unknown spoken languages'|trans }}
                    {% else %}
                        {% for lang in person.spokenLanguages %}
                            {{ lang.name|localize_translatable_string }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                </dd>
            </dl>
            <dl>
                <dt>{{'Marital status'|trans}}&nbsp;:</dt>
                <dd>
                    {% if person.maritalStatus is not null %}
                        {{ person.maritalStatus.name|localize_translatable_string }}
                    {% else %}
                        {{ 'no data given'|trans }}
                    {% endif %}
                </dd>
            </dl>

            {% if is_granted('CHILL_PERSON_UPDATE', person) %}
                {{ include(edit_tmp_name, edit_tmp_args) }}
            {% endif %}
        </figure>
    </div>
    <div class="grid-6">
        <figure class="person-details">
            <h2 class="chill-blue"><i class="fa fa-envelope-o"></i>&nbsp;{{ 'Contact information'|trans|upper }}</h2>

            <dl>
                <dt>{{ 'Email'|trans }}&nbsp;:</dt>
                <dd><pre>{{ person.email}}&nbsp;</pre></dd>
            </dl>
            <dl>
                <dt>{{ 'Phonenumber'|trans }}&nbsp;:</dt>
                <dd><pre>{{ person.phonenumber}}&nbsp;</pre></dd>
            </dl>


            {% if is_granted('CHILL_PERSON_UPDATE', person) %}
                {{ include(edit_tmp_name, edit_tmp_args) }}
            {% endif %}
        </figure>
    </div>
</div>

{% if cFGroup and (cFGroup.getActiveCustomFields|length > 0) %}
    <div class="grid-10 push-1 grid-mobile-12 grid-tablet-12 push-mobile-0 push-tablet-0 parent">
        <div class="grid-6">
            <figure class="person-details">
                {{ chill_custom_fields_group_widget(person.cFData, cFGroup) }}

                {% if is_granted('CHILL_PERSON_UPDATE', person) %}
                    {{ include(edit_tmp_name, edit_tmp_args) }}
                {% endif %}
            </figure>    
        </div>
    </div>
{% endif %}

{% endblock %}
